---
aliases: 
tags:
  - digital
  - verification
---
- It is difficult to identify the critical delay path in a complex circuit
- Timing verifier traverses an electrical network and calculates the delays of various paths
- Smart verifier can detect False Path

![[Pasted image 20241029055834.png#pic_center|output z = 1, there is no delay]]