---
aliases: 
tags:
  - digital
  - verification
---

- Formal verifier tries to prove, in the mathematical sense, two representations of a circuit are equivalent
- In formal verification, components are described behaviourally as a function of its nput and internal state
- Formal verifier compares a derived circuit with its initial specification
- The two circuits need not be the same but are equivalent
- It reports any discrepancy
